@import '../../styles/utils/colors';
@import '../../styles/utils/_breakpoints.scss';

.selectionBox{
    position: relative;
    width: 160px;
    overflow: hidden;
    padding: 8px 8px 20px 8px;
    background-color: white;
    display: inline-block;
    border: solid 1px $elephant-paw;
    border-radius: 5px;
    text-align: center;
    &--image {display: block; width: inherit; padding-bottom: 8px;  }
    &--text {font-size: 1em; font-weight: 600;}
    input { position: absolute; left: 4px;}

    @media only screen and (max-width: $tablet) {
      width: 40%;
      margin:0.5%;
      &--image {
        margin:5%;
        width: 90%; 
        padding-bottom: 8px;  
      }

      &--checkbox-text-container{
        margin:4%;
        width: 92%; 
        display: flex;
        justify-content: space-between;
      }
      input { position: relative; left:1px;}
    }
  }